@import url("https://fonts.googleapis.com/css?family=Krub");

body {
  margin: 0;
  padding: 0;
  font-family: "Krub", sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(rgba(30, 27, 38, 0.9), rgba(30, 27, 38, 0.9)),
    url("http://i63.tinypic.com/17s7me.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}
